*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(113, 75, 113);
}
nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: auto;
  padding-top: 2%;
  padding-right: 80px;
}

nav a {
  color: #DDA0DD;
  text-decoration: none;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav a:hover {
  color: rgb(59, 10, 70);
  text-decoration: underline;
}
.sidenote p{
  width: 40%;
  font-size: 10rem;
  color: white;
  float: left;
  margin-top: 10%;
  margin-left: 5%;
  clear: both;
}
.regform{
  width: 50%;
  height: 80vh;
  float: right;
  margin-top: 4%;
  margin-bottom: 3%;
  
}
.regform h1{
  position: relative;
  background-color:rgba(73, 16, 73, 0.888) ;
  width: 50%;
  padding: 2%;
  text-align: center;
  color: wheat;
  margin-bottom: -10%;
  margin-left: 7%;
  z-index: 2;
}
table,tr,td{
  background-color: white;
 
}
table{
  width: 90%;
  height: 30rem;
  margin-top: 6%;
  padding: 10% 3% 5% 3% ;
  
}
tr label{
  margin-left: 5%;
  background-color: white;
  color: rgb(70, 14, 70);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}


input {
  width: 90%;
  margin-bottom: 5%;
  padding: 3% 2%;
  border: 1px solid wheat;
  background-color: whitesmoke;
  margin-left: 5%;
}
input:focus{
  border: 1px solid rgba(61, 13, 61, 0.888);
}

td select, td option{
  width: 90%;
  margin-bottom: 5%;
  padding: 3% 2%;
  border: 1px solid wheat;
  background-color: whitesmoke;
  margin-left: 5%;
}
#email{
  margin-left: 2%;
  padding: 2% 2%;
  width: 95%;
}
#favcolor{
  width: 50%;
  padding: 0%;
}
#register{
  background-color: rgba(73, 16, 73, 0.888);
  margin-top: 10%;
  padding: 2% 2%;
  color: wheat;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
