*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(222, 158, 246);  
}
nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: auto;
    padding-top: 12px;
    padding-right: 80px;
  }
  
  nav a {
    color: #653865;
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  nav a:hover {
    color: rgb(59, 10, 70);
    text-decoration: underline;
  }
h1{
    color: #3e1d3e;
    margin-top: 10rem;
    text-align: center;
    font-size: 5rem;
}
h2{
    color: #472d47;
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
}
p{
    color: #352435;
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
}
p a{
    
    color: white;
    text-decoration: none;
}
p a:hover{
    cursor: pointer;
    color: #301230;
    text-decoration: underline;
}