body {
  background-color: rgb(151, 151, 235);
  background-image: linear-gradient(
    #04143d,
    rgb(33, 33, 87),
    rgb(150, 174, 240)
  );
}
nav {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 100px;
}
nav a {
  color: rgb(179, 11, 95);
  text-decoration: none;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav a:hover {
  color: purple;
  text-decoration: underline;
}
header {
  background-image: url(https://th.bing.com/th/id/R.736042190a34500f27a3dc2fe4cd23a3?rik=6wUcXjkhSE2DOw&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: rgb(40, 8, 70);
}
div {
  border-radius: 35px;
  background-color: white;
  background-image: linear-gradient(white, rgb(175, 177, 180));
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 10px;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 360px;
  margin-right: 200px;
  height: 400px;
}
table {
  text-align: center;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(75, 72, 59);
  width: 100%;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
input[type="text"]:focus,
[type="password"]:focus {
  border-radius: 7px;
}
input[type="text"],
[type="email"],
[type="password"] {
  width: 40%;
  padding: 7px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 64);
  display: grid;
  border: 1px solid rgb(17, 6, 83);
  border-radius: 8px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 65%;
  background-color: rgb(9, 9, 104);
  color: white;
  margin-right: 400px;
  padding: 19px 20px;
  margin-top: 4%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #153481;
}
tr {
  text-align: start;
  color: rgb(94, 162, 240);
}
textarea {
  border-radius: 3px;
}
